<section>
	<h2 class="a11y__element">Archive</h2>
	<div class="list" itemscope itemtype="http://schema.org/Blog">
		<% page.posts.each(function(post){ %>
		<%- partial('archive-post', {post: post}) %>
		<% }) %>
		<div class="archive list__item--hrDashes" style="text-align: center;">
			Subscribe to our <a href="/atom.xml">feed</a>, more useful articles will be published soon. Thank you.
		</div>
	</div>
</section>