<noscript>
	<div class="noscript">
		Javascript is disabled for this site in your browser. Please enable it if you want to see site in more
		interactive mode. To learn how click
		<a class="noscript-text--alternative" href="http://www.youtube.com/watch?v=0w8wr8a0r2M" target="_blank">here</a>
		or
		<a class="noscript-text--alternative"
		   href="http://www.google.ca/search?q=how+to+enable+javascript&amp;tbs=vid:1"
		   target="_blank">here</a>.
	</div>
</noscript>