<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        height: 500px;
        background-color: #c00;
      }
    </style>
  </head>
  <body>
    <input />
    hello
    <iframe src="https://www.homedepot.ca/en/home.html" width="100%" height="300" />

    <script>
      document.body.addEventListener('keydown', (e) => {
        let text = e.type +
          ' key=' + e.key +
          ' code=' + e.code +
          (e.shiftKey ? ' shiftKey' : '') +
          (e.ctrlKey ? ' ctrlKey' : '') +
          (e.altKey ? ' altKey' : '') +
          (e.metaKey ? ' metaKey' : '') +
          (e.repeat ? ' (repeat)' : '') +
          "\n";
        console.log(text);
      }, true);
      document.body.addEventListener('focus', (e) => {
        console.log('focused');
      });
    </script>
  </body>
</html>
