/*!
                        ,,                                  ,,
                       *MM                                  db
                        MM
`7M'    ,A    `MF.gP"Ya MM,dMMb.    `7MM  `7MM `7MMpMMMb. `7MM`7M'   `MF.gP"Ya`7Mb,od8,pP"Ybd .gP"Ya
  VA   ,VAA   ,V,M'   YbMM    `Mb     MM    MM   MM    MM   MM  VA   ,V,M'   Yb MM' "'8I   `",M'   Yb
   VA ,V  VA ,V 8M""""""MM     M8     MM    MM   MM    MM   MM   VA ,V 8M"""""" MM    `YMMMa.8M""""""
    VVV    VVV  YM.    ,MM.   ,M9     MM    MM   MM    MM   MM    VVV  YM.    , MM    L.   I8YM.    ,
     W      W    `Mbmmd'P^YbmdP'      `Mbod"YML.JMML  JMML.JMML.   W    `Mbmmd.JMML.  M9mmmP' `Mbmmd'
*/

/*
- TABLE OF CONTENTS
- Settings: Global variables, site-wide settings, config switches, etc.
- Tools: Site-wide mixins and functions.
- Generic: Low-specificity, far-reaching rulesets (e.g. resets).
- Base: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
- Objects: Objects, abstractions, and design patterns (e.g. .media {}).
- Components: Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesn’t get involved with.
- Helpers: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .hidden {}).
*/

/*Settings:*/
:root {
  --content-font-size: 17px;
  --line-color: #c7cacc;
  --primary-color: #004adf;
  --body-bg: aliceblue;
  --text-color: black;
  --formatted-content: #e0e0e0;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fd8700;
    --body-bg: black;
    --text-color: white;
    --formatted-content: #333;
  }
  iframe[src*="disqus.com"] {
    color-scheme: light;
  }
}

/*Tools:*/
/*Generic:*/
/*Base:*/
:focus {
  outline: 1px dotted;
}

html {
  font-size: var(--content-font-size);
  font-size: clamp(var(--content-font-size), calc(.8rem + .25vw), 20px);
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, textarea, input, select {
  font-family: system-ui;
}

body, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
}
input, select {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--body-bg);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: thin dotted;
  }
  &:active {
    outline: none !important;
  }
  & img {
    border: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-weight: normal;
  font-family: 'Slabo 27px', system-ui, serif;
}

h1 {
  font-size: 36px;
  line-height: 1.41667;
}
h2 {
  font-size: 30px;
  line-height: 1.7;
}
h3 {
  font-size: 24px;
  line-height: 1.0625;
}
h4 {
  font-size: 20px;
  line-height: 1.275;
}
h5 {
  font-size: 16px;
  line-height: 1.59375;
}
h6 {
  font-size: 14px;
  line-height: 1.82143;
}
@media (--navigation-small) {
  h1 {
    font-size:29px;
    line-height: 1.75862;
  }
  h2 {
    font-size: 25px;
    line-height: 1.02;
  }
  h3 {
    font-size: 21px;
    line-height: 1.21429;
  }
  h4 {
    font-size: 17px;
    line-height: 1.5;
  }
  h5 {
    font-size: 16px;
    line-height: 1.59375;
  }
  h6 {
    font-size: 14px;
    line-height: 1.82143;
  }
}
code {
  padding: 2px;
  background-color: var(--formatted-content);
}
blockquote {
  padding: 2px 2px 2px 10px;
  background-color: var(--formatted-content);
  border-left: 10px solid #a0a0a0;
  font-family: monospace;
}

/*Objects:*/
.a11y__element, .a11y__skip {
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}
.a11y__skip {
  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.list {
  list-style-type: none;
}
.list__item {
  margin-top: 1em;
  &:first-child {
    margin-top: 0;
  }
}
.list__item--hrDashes {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px dashed var(--line-color);
  &:first-child {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
}

.content-entry {
  line-height: 1.5;
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ul,
  & ol,
  & table,
  & header,
  & blockquote {
    margin: 1em 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
  & h1 + ul,
  & h2 + ul,
  & h3 + ul,
  & h4 + ul,
  & h5 + ul,
  & h6 + ul,
  & h1 + ol,
  & h2 + ol,
  & h3 + ol,
  & h4 + ol,
  & h5 + ol,
  & h6 + ol,
  & h1 + h2,
  & h2 + h3,
  & p + ol,
  & p + ul {
    margin-top: 0.2em;
  }
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    line-height: 1.2;
  }
  & small {
    font-size: 0.85em;
  }
  & img {
    max-width: 100%;
  }
  & ul,
  & ol {
    margin-left: 20px;
  }
  & li {
    margin: 7px 0 0;
  }
  & table {
    border-collapse: collapse;
  }
  & th,
  & td {
    border-width: 1px 0 0 1px;
    border-style: dotted;
    border-color: #000;
    padding: 0.8em;
  }
  & td:first-child,
  & th:first-child {
    border-left: 0;
  }
  & tr:first-child td,
  & tr:first-child th {
    border-top: 0;
  }
}

/*Components:*/
.gsc-control-cse {
  box-sizing: content-box;
  & * {
    box-sizing: content-box;
  }
  & table {
    border-collapse: separate;
  }
}
.gsc-completion-container {
  color: #000;
}
.prism-code {
  margin-top: 1em;
  margin-bottom: 1em;
  border-right: 5px;
  padding: 2px 5px;
  overflow: auto;
}

/*Helpers:*/
.h-decorate-on-hover {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.nowrap {
  white-space: nowrap;
}

/*Google search*/
#gcse-search .gsc-control-cse {
  background-color: transparent !important;
  border-color: transparent !important;
}
#gcse-search input {
  color: black
}