html, body {
	height: 100%;
}

body {
	margin: 0;
	background: #00042b; /* Old browsers */
	background: -moz-linear-gradient(top,  #00042b 0%, #28197f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00042b), color-stop(100%,#28197f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00042b 0%,#28197f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00042b 0%,#28197f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00042b 0%,#28197f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00042b 0%,#28197f 100%); /* W3C */
	color: #fff;
	font-family: Arial;
	font-size: 20px;
	font-size: 2rem;
	text-shadow: 0 0 15px rgba(125, 185, 232, 1);
}

.hello {
	font-family: snigletextrabold, arial, serif;
	font-size: 120px;
	font-size: 12rem;
}

.frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.img {
		opacity: 0.2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.img-preload {
		visibility: hidden;
	}
}

.dtb {
	position: relative;
	height: 100%;
	width: 100%;
	display: table;
}
	.dtbc {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}