@import "settings.headings";
$header-color: #000 !default;
$header-font-weight: normal !default;

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
	font-weight: $header-font-weight;

	@if($header-custom-font == true) {
		@include header-custom-font();
	}
}