$inuit-base-text-color: #000;

$blue: #004adf;
$lightGrey: #c7cacc;

$line-color: $lightGrey;
$form-control-border-color: darken($line-color, 15%);
$link-color: $blue;
$header-color: $blue;
$text-color: $inuit-base-text-color;