@font-face {
	font-family: 'snigletextrabold';
	src: url('../fonts/sniglet/sniglet-extrabold-webfont.eot');
	src: url('../fonts/sniglet/sniglet-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sniglet/sniglet-extrabold-webfont.woff') format('woff'), //TODO: data-url
	url('../fonts/sniglet/sniglet-extrabold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}