@font-face {
	font-family: 'ZeroSpace';
	src: url('../fonts/zerospace/ZeroSpace.eot');
	src: url('../fonts/zerospace/ZeroSpace.eot?#iefix') format('embedded-opentype'),
	url('../fonts/zerospace/ZeroSpace.woff') format('woff'),
	url('../fonts/zerospace/ZeroSpace.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}