:root {
	--page-width: 1200px;
	--page-side-margin: 15px;
	--wrapper-margin: auto;
}
@media (max-width: /*--page-width + --page-side-margin * 2*/1230px) {
	:root {
		--wrapper-margin: var(--page-side-margin);
	}
}

.wrapper {
	position: relative;
	z-index: 20;
	margin-left: var(--wrapper-margin);
	margin-right: var(--wrapper-margin);
	max-width: var(--page-width);
}

.layoutBase {
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;

	&:after {
		height: 50px;
		display: table-row;
		content: '';
	}
}

.contentWrapper {
	display: table-row;
}

.pageContent {
	position: relative;
	display: table-cell;
}

.pageContentMain {
	padding-top: 1em;
	padding-bottom: 1em;
	outline: 0;
	overflow: hidden;
}
