<div itemscope itemtype="http://schema.org/AboutPage">
	<article class="content-entry" itemprop="mainContentOfPage">
		<h2 itemprop="name"><%= page.title %></h2>
		<%- page.content %>
	</article>
</div>