<div itemscope itemtype="http://schema.org/ContactPage">
	<article class="content-entry" itemprop="mainContentOfPage">
		<h1 itemprop="name" class="a11y__element"><%= page.title %></h1>
		<%- page.content %>
	</article>
</div>