<div itemscope itemtype="http://schema.org/ContactPage">
	<article class="content-entry" itemprop="mainContentOfPage">
		<h2 itemprop="name" class="a11y__element"><%= page.title %></h2>
		<%- page.content %>
	</article>
</div>