.footer {
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;

  @media (--footer-small) {
    font-size: 14px;
  }
}