@charset "UTF-8";
/*!
                        ,,                                  ,,
                       *MM                                  db
                        MM
`7M'    ,A    `MF.gP"Ya MM,dMMb.    `7MM  `7MM `7MMpMMMb. `7MM`7M'   `MF.gP"Ya`7Mb,od8,pP"Ybd .gP"Ya
  VA   ,VAA   ,V,M'   YbMM    `Mb     MM    MM   MM    MM   MM  VA   ,V,M'   Yb MM' "'8I   `",M'   Yb
   VA ,V  VA ,V 8M""""""MM     M8     MM    MM   MM    MM   MM   VA ,V 8M"""""" MM    `YMMMa.8M""""""
    VVV    VVV  YM.    ,MM.   ,M9     MM    MM   MM    MM   MM    VVV  YM.    , MM    L.   I8YM.    ,
     W      W    `Mbmmd'P^YbmdP'      `Mbod"YML.JMML  JMML.JMML.   W    `Mbmmd.JMML.  M9mmmP' `Mbmmd'
*/
/*
0. Table of contents

1. Settings: Global variables, site-wide settings, config switches, etc.

2. Tools: Site-wide mixins and functions.

3. Generic: Low-specificity, far-reaching rulesets (e.g. resets).

4. Base: Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).

5. Objects: Objects, abstractions, and design patterns (e.g. .media {}).

6. Components: Discrete, complete chunks of UI (e.g. .carousel {}). This is the one layer that inuitcss doesnÔÇÖt get involved with.

7. Trumps: High-specificity, very explicit selectors. Overrides and helper classes (e.g. .hidden {}).
*/
/* 1. Settings
---------------------------------------- */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/* 2. Tools
---------------------------------------- */
@import url(../../../bower_components/normalize-css/normalize.css);
/* Calculate fluid ratio based on two dimensions (width/height) */
/* This element will have fluid ratio from 4:1 at 800px to 2:1 at 300px. */
.decorate-on-hover,
.decorate-links-on-hover a, .archive__link {
  text-decoration: none; }
  .decorate-on-hover:hover,
  .decorate-links-on-hover a:hover, .archive__link:hover, .decorate-on-hover:focus,
  .decorate-links-on-hover a:focus, .archive__link:focus {
    text-decoration: underline; }

/* 3. Generic
---------------------------------------- */
/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li {
  margin: 0;
  border: 0;
  padding: 0; }

input, select {
  margin: 0;
  padding: 0; }

/* 4. Base
---------------------------------------- */
/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ÔÇÿjumpsÔÇÖ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 1.0625em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #000;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

:focus {
  outline: 1px dotted; }

body {
  background: #0b1013;
  color: #fff; }

body, textarea, input, select {
  font-family: "Times New Roman", Times, serif; }

html,
body {
  height: 100%; }

hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #c7cacc; }

/*------------------------------------*\
    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, letÔÇÖs
 *    not make the image fluid.
 */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none; }

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 */
.lede {
  font-size: 19.125px;
  font-size: 1.125rem;
  line-height: 1.33333; }

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
select,
textarea {
  border: 1px solid #9fa4a8; }

q:before {
  content: '\00ab'; }
  q:before q:before {
    content: '\201e'; }

q:after {
  content: '\00bb'; }
  q:after q:after {
    content: '\201c'; }

a {
  color: #004adf;
  text-decoration: underline;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:active {
    outline: none !important; }
  a img {
    border: 0; }

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1ÔÇô6, with corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */
h1,
.alpha {
  font-size: 36px;
  font-size: 2.11765rem;
  line-height: 1.41667; }

h2,
.beta {
  font-size: 30px;
  font-size: 1.76471rem;
  line-height: 1.7; }

h3,
.gamma {
  font-size: 24px;
  font-size: 1.41176rem;
  line-height: 1.0625; }

h4,
.delta,
.archive__title {
  font-size: 20px;
  font-size: 1.17647rem;
  line-height: 1.275; }

h5,
.epsilon {
  font-size: 16px;
  font-size: 0.94118rem;
  line-height: 1.59375; }

h6,
.zeta {
  font-size: 14px;
  font-size: 0.82353rem;
  line-height: 1.82143; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #004adf; }

/* 5. Objects
---------------------------------------- */
/*------------------------------------*\
    #FLAG
\*------------------------------------*/
/**
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image. csswizardry.com/2013/05/the-flag-object
 */
/**
 * 1. Allows us to control vertical alignments
 * 2. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */
.flag {
  display: table;
  /* [1] */
  width: 100%;
  /* [2] */ }

/**
 * Items within a flag object. There should only ever be one of each.
 *
 * 1. Default to aligning content to their middles.
 */
.flag__img,
.flag__body {
  display: table-cell;
  vertical-align: middle;
  /* [1] */ }

/**
 * Flag images have a space between them and the body of the object.
 */
.flag__img {
  padding-right: 25.5px; }
  .flag__img > img {
    display: block;
    max-width: none; }

/**
 * The container for the main content of the flag object.
 *
 * 1. Forces the `.flag__body` to take up all remaining space.
 */
.flag__body {
  width: 100%;
  /* [1] */ }
  .flag__body,
  .flag__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*\
    #BOX
\*------------------------------------*/
/**
 * The box object simply boxes off content.
 */
/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.box {
  display: block;
  /* [1] */
  padding: 25.5px; }
  .box > :last-child {
    margin-bottom: 0; }

.content-entry {
  line-height: 1.5; }
  .content-entry h1,
  .content-entry h2,
  .content-entry h3,
  .content-entry h4,
  .content-entry h5,
  .content-entry h6,
  .content-entry p,
  .content-entry ul,
  .content-entry ol,
  .content-entry table,
  .content-entry header,
  .content-entry blockquote,
  .content-entry .ov-h {
    margin: 1em 0 0; }
    .content-entry h1:first-child,
    .content-entry h2:first-child,
    .content-entry h3:first-child,
    .content-entry h4:first-child,
    .content-entry h5:first-child,
    .content-entry h6:first-child,
    .content-entry p:first-child,
    .content-entry ul:first-child,
    .content-entry ol:first-child,
    .content-entry table:first-child,
    .content-entry header:first-child,
    .content-entry blockquote:first-child,
    .content-entry .ov-h:first-child {
      margin-top: 0; }
    .content-entry h1 + .align-left, .content-entry h1 + .align-right, .content-entry h1 + .align-left + .align-right, .content-entry h1 + .align-right + .align-left, .content-entry h1 + .align-left + .ov-h, .content-entry h1 + .align-right + .ov-h,
    .content-entry h2 + .align-left,
    .content-entry h2 + .align-right,
    .content-entry h2 + .align-left + .align-right,
    .content-entry h2 + .align-right + .align-left,
    .content-entry h2 + .align-left + .ov-h,
    .content-entry h2 + .align-right + .ov-h,
    .content-entry h3 + .align-left,
    .content-entry h3 + .align-right,
    .content-entry h3 + .align-left + .align-right,
    .content-entry h3 + .align-right + .align-left,
    .content-entry h3 + .align-left + .ov-h,
    .content-entry h3 + .align-right + .ov-h,
    .content-entry h4 + .align-left,
    .content-entry h4 + .align-right,
    .content-entry h4 + .align-left + .align-right,
    .content-entry h4 + .align-right + .align-left,
    .content-entry h4 + .align-left + .ov-h,
    .content-entry h4 + .align-right + .ov-h,
    .content-entry h5 + .align-left,
    .content-entry h5 + .align-right,
    .content-entry h5 + .align-left + .align-right,
    .content-entry h5 + .align-right + .align-left,
    .content-entry h5 + .align-left + .ov-h,
    .content-entry h5 + .align-right + .ov-h,
    .content-entry h6 + .align-left,
    .content-entry h6 + .align-right,
    .content-entry h6 + .align-left + .align-right,
    .content-entry h6 + .align-right + .align-left,
    .content-entry h6 + .align-left + .ov-h,
    .content-entry h6 + .align-right + .ov-h,
    .content-entry p + .align-left,
    .content-entry p + .align-right,
    .content-entry p + .align-left + .align-right,
    .content-entry p + .align-right + .align-left,
    .content-entry p + .align-left + .ov-h,
    .content-entry p + .align-right + .ov-h,
    .content-entry ul + .align-left,
    .content-entry ul + .align-right,
    .content-entry ul + .align-left + .align-right,
    .content-entry ul + .align-right + .align-left,
    .content-entry ul + .align-left + .ov-h,
    .content-entry ul + .align-right + .ov-h,
    .content-entry ol + .align-left,
    .content-entry ol + .align-right,
    .content-entry ol + .align-left + .align-right,
    .content-entry ol + .align-right + .align-left,
    .content-entry ol + .align-left + .ov-h,
    .content-entry ol + .align-right + .ov-h,
    .content-entry table + .align-left,
    .content-entry table + .align-right,
    .content-entry table + .align-left + .align-right,
    .content-entry table + .align-right + .align-left,
    .content-entry table + .align-left + .ov-h,
    .content-entry table + .align-right + .ov-h,
    .content-entry header + .align-left,
    .content-entry header + .align-right,
    .content-entry header + .align-left + .align-right,
    .content-entry header + .align-right + .align-left,
    .content-entry header + .align-left + .ov-h,
    .content-entry header + .align-right + .ov-h,
    .content-entry blockquote + .align-left,
    .content-entry blockquote + .align-right,
    .content-entry blockquote + .align-left + .align-right,
    .content-entry blockquote + .align-right + .align-left,
    .content-entry blockquote + .align-left + .ov-h,
    .content-entry blockquote + .align-right + .ov-h,
    .content-entry .ov-h + .align-left,
    .content-entry .ov-h + .align-right,
    .content-entry .ov-h + .align-left + .align-right,
    .content-entry .ov-h + .align-right + .align-left,
    .content-entry .ov-h + .align-left + .ov-h,
    .content-entry .ov-h + .align-right + .ov-h {
      margin-top: 1em;
      margin-bottom: 1em; }
  .content-entry .align-left:first-child + h1, .content-entry .align-left:first-child + h2, .content-entry .align-left:first-child + h3, .content-entry .align-left:first-child + h4, .content-entry .align-left:first-child + h5, .content-entry .align-left:first-child + h6, .content-entry .align-left:first-child + p, .content-entry .align-left:first-child + ul, .content-entry .align-left:first-child + ol, .content-entry .align-left:first-child + table, .content-entry .align-left:first-child + header, .content-entry .align-left:first-child + blockquote, .content-entry .align-left:first-child + .ov-h,
  .content-entry .align-right:first-child + h1,
  .content-entry .align-right:first-child + h2,
  .content-entry .align-right:first-child + h3,
  .content-entry .align-right:first-child + h4,
  .content-entry .align-right:first-child + h5,
  .content-entry .align-right:first-child + h6,
  .content-entry .align-right:first-child + p,
  .content-entry .align-right:first-child + ul,
  .content-entry .align-right:first-child + ol,
  .content-entry .align-right:first-child + table,
  .content-entry .align-right:first-child + header,
  .content-entry .align-right:first-child + blockquote,
  .content-entry .align-right:first-child + .ov-h,
  .content-entry .align-left:first-child + .align-right + h1,
  .content-entry .align-left:first-child + .align-right + h2,
  .content-entry .align-left:first-child + .align-right + h3,
  .content-entry .align-left:first-child + .align-right + h4,
  .content-entry .align-left:first-child + .align-right + h5,
  .content-entry .align-left:first-child + .align-right + h6,
  .content-entry .align-left:first-child + .align-right + p,
  .content-entry .align-left:first-child + .align-right + ul,
  .content-entry .align-left:first-child + .align-right + ol,
  .content-entry .align-left:first-child + .align-right + table,
  .content-entry .align-left:first-child + .align-right + header,
  .content-entry .align-left:first-child + .align-right + blockquote,
  .content-entry .align-left:first-child + .align-right + .ov-h,
  .content-entry .align-right:first-child + .align-left + h1,
  .content-entry .align-right:first-child + .align-left + h2,
  .content-entry .align-right:first-child + .align-left + h3,
  .content-entry .align-right:first-child + .align-left + h4,
  .content-entry .align-right:first-child + .align-left + h5,
  .content-entry .align-right:first-child + .align-left + h6,
  .content-entry .align-right:first-child + .align-left + p,
  .content-entry .align-right:first-child + .align-left + ul,
  .content-entry .align-right:first-child + .align-left + ol,
  .content-entry .align-right:first-child + .align-left + table,
  .content-entry .align-right:first-child + .align-left + header,
  .content-entry .align-right:first-child + .align-left + blockquote,
  .content-entry .align-right:first-child + .align-left + .ov-h {
    margin-top: 0; }
  .content-entry h1 + ul,
  .content-entry h2 + ul,
  .content-entry h3 + ul,
  .content-entry h4 + ul,
  .content-entry h5 + ul,
  .content-entry h6 + ul,
  .content-entry h1 + ol,
  .content-entry h2 + ol,
  .content-entry h3 + ol,
  .content-entry h4 + ol,
  .content-entry h5 + ol,
  .content-entry h6 + ol,
  .content-entry h1 + h2,
  .content-entry h2 + h3,
  .content-entry p + ol,
  .content-entry p + ul {
    margin-top: 0.2em; }
  .content-entry h1,
  .content-entry h2,
  .content-entry h3,
  .content-entry h4,
  .content-entry h5,
  .content-entry h6 {
    line-height: 1.2; }
  .content-entry small {
    font-size: 0.85em; }
  .content-entry img {
    max-width: 100%; }
  .content-entry .align-left > img,
  .content-entry .align-right > img {
    max-width: inherit; }
  .content-entry ul,
  .content-entry ol {
    margin-left: 20px; }
  .content-entry li {
    margin: 7px 0 0; }
  .content-entry table {
    border-collapse: collapse; }
  .content-entry th,
  .content-entry td {
    border-width: 1px 0 0 1px;
    border-style: dotted;
    border-color: #000;
    padding: 0.8em; }
  .content-entry td:first-child,
  .content-entry th:first-child {
    border-left: 0; }
  .content-entry tr:first-child td,
  .content-entry tr:first-child th {
    border-top: 0; }
  .content-entry .no-border td,
  .content-entry .no-border th {
    border: 0; }
  .content-entry .label-right-aligned td:first-child {
    text-align: right; }

.align-center {
  margin-right: auto;
  margin-left: auto;
  display: block; }

.align-left {
  margin-right: 10px;
  float: left; }

.align-right {
  margin-left: 10px;
  float: right; }

.list__item--hrDashes {
  margin-top: 1em;
  padding-top: 1em; }
  .list__item--hrDashes:first-child {
    margin-top: 0;
    border-top: 0;
    padding-top: 0; }

.list {
  list-style-type: none; }
  .content-entry p + .list {
    margin-top: 1em; }

.list__item, [class^="list__item--"], [class*=" list__item--"] {
  margin-top: 1em; }
  .list__item:first-child, [class^="list__item--"]:first-child, [class*=" list__item--"]:first-child {
    margin-top: 0; }

.list__item--hrDashes {
  border-top: 1px dashed #c7cacc; }

.columns-grid:before {
  content: '';
  margin-bottom: -1.5em;
  display: block; }
.columns-grid > .column {
  margin-top: 1.5em; }

.noscript {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  border-bottom: 1px solid #aca899;
  padding: 5px;
  width: 100%;
  background-color: #ffffe1;
  color: #000;
  font-size: 12px;
  text-align: center; }
  .noscript .noscript-text--alternative {
    color: #f00;
    text-decoration: underline; }

.a11y__element, .a11y__skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.a11y__skip:focus {
  position: static;
  width: auto;
  height: auto; }

/* 6. Components
---------------------------------------- */
body:after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/samples/bg2.jpg) 0 0;
  background-size: cover;
  content: ''; }

#page__wrapper {
  position: relative;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  height: 100%; }
  @media (max-width: 1054px) {
    #page__wrapper {
      margin-left: 15px;
      margin-right: 15px; } }

#page__layout-base {
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed; }
  #page__layout-base:after {
    height: 50px;
    display: table-row;
    content: ''; }

@-webkit-keyframes logoCircleColor {
  0% {
    border-color: #00f6ff;
    box-shadow: 0 0 10px #00f6ff, inset 0 0 20px #00f6ff; }
  14% {
    border-color: #68afff;
    box-shadow: 0 0 10px #68afff, inset 0 0 20px #68afff; }
  28% {
    border-color: #00ff0a;
    box-shadow: 0 0 10px #00ff0a, inset 0 0 20px #00ff0a; }
  42% {
    border-color: #ff0;
    box-shadow: 0 0 10px #ff0, inset 0 0 20px #ff0; }
  57% {
    border-color: #f00;
    box-shadow: 0 0 10px #f00, inset 0 0 20px #f00; }
  71% {
    border-color: #fb00ff;
    box-shadow: 0 0 10px #fb00ff, inset 0 0 20px #fb00ff; }
  85% {
    border-color: #ff006c;
    box-shadow: 0 0 10px #ff006c, inset 0 0 20px #ff006c; }
  100% {
    border-color: #00f6ff;
    box-shadow: 0 0 10px #00f6ff, inset 0 0 20px #00f6ff; } }

@keyframes logoCircleColor {
  0% {
    border-color: #00f6ff;
    box-shadow: 0 0 10px #00f6ff, inset 0 0 20px #00f6ff; }
  14% {
    border-color: #68afff;
    box-shadow: 0 0 10px #68afff, inset 0 0 20px #68afff; }
  28% {
    border-color: #00ff0a;
    box-shadow: 0 0 10px #00ff0a, inset 0 0 20px #00ff0a; }
  42% {
    border-color: #ff0;
    box-shadow: 0 0 10px #ff0, inset 0 0 20px #ff0; }
  57% {
    border-color: #f00;
    box-shadow: 0 0 10px #f00, inset 0 0 20px #f00; }
  71% {
    border-color: #fb00ff;
    box-shadow: 0 0 10px #fb00ff, inset 0 0 20px #fb00ff; }
  85% {
    border-color: #ff006c;
    box-shadow: 0 0 10px #ff006c, inset 0 0 20px #ff006c; }
  100% {
    border-color: #00f6ff;
    box-shadow: 0 0 10px #00f6ff, inset 0 0 20px #00f6ff; } }
#page__header {
  height: 190px;
  display: table-row;
  text-align: center; }
  #page__header:before {
    position: absolute;
    top: 20px;
    left: 50%;
    border-radius: 50%;
    border: 1px solid;
    border-color: #00f6ff;
    box-shadow: 0 0 10px #00f6ff, inset 0 0 20px #00f6ff;
    margin-left: -70px;
    width: 140px;
    height: 140px;
    display: inline-block;
    background-color: #000;
    content: '';
    -webkit-animation: logoCircleColor 20s infinite;
    animation: logoCircleColor 20s infinite; }
  #page__header .logo {
    margin-top: 35px;
    z-index: 2;
    color: #fff;
    font-size: 80px;
    font-size: 4.70588rem; }
  #page__header a {
    color: #fff; }

#page-content__wrapper {
  display: table-row; }

#page-content {
  position: relative;
  border-radius: 35px;
  display: table-cell;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 30px 0 #cff; }

.page-content__side-padding {
  padding: 0 20px; }

#page-content__main {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 70px;
  outline: 0; }

#page__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center; }
  @media (max-width: 580px) {
    #page__footer {
      font-size: 14px;
      font-size: 0.82353rem;
      line-height: 1.25; } }

.logo {
  position: relative;
  padding-bottom: 0.1em;
  display: inline-block;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.28em; }
  .logo:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid;
    width: calc(100% - 0.28em);
    content: ''; }
  .logo:before {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 0.7em;
    content: '..';
    text-align: center;
    letter-spacing: 1.15em;
    text-indent: 1.25em; }

.logo__universe {
  display: block;
  font-size: 0.15em;
  letter-spacing: 2em; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?-1c35nw");
  src: url("../fonts/icomoon/icomoon.eot?#iefix-1c35nw") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?-1c35nw") format("woff"), url("../fonts/icomoon/icomoon.ttf?-1c35nw") format("truetype"), url("../fonts/icomoon/icomoon.svg?-1c35nw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"], .icomoon, .search-button {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before, .search-button:before {
  content: "\e600"; }

.search-button {
  color: #92979b; }

.search {
  position: relative;
  border: 1px solid #9fa4a8;
  border-radius: 3px;
  padding: 1px; }
  .search input.search-input {
    border: 0;
    padding: 0 4px;
    width: calc(100% - 1.5em);
    font-style: italic; }
    #page-topBar .search input.search-input::-webkit-input-placeholder {
      letter-spacing: 0.1em; }
    #page-topBar .search input.search-input::-moz-placeholder {
      letter-spacing: 0.1em; }
    #page-topBar .search input.search-input:-ms-input-placeholder {
      letter-spacing: 0.1em; }
    #page-topBar .search input.search-input::placeholder {
      letter-spacing: 0.1em; }
  .search-button {
    position: absolute;
    top: 0.17em;
    right: 0; }
  @media (max-width: 780.5px) {
    #page-topBar .search {
      margin: 0.5em auto;
      width: 75%; } }

#top-bar {
  margin: 0 20px;
  border-bottom: 1px solid #c7cacc;
  padding-top: 20px;
  padding-bottom: 10px; }
  @media (min-width: 780.5px) {
    #top-bar > .column:nth-child(2n+1) {
      -sgs-span-settings: ("span": 1, "location": 1, "grid": 8 4, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
      width: 65.57377%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    #top-bar > .column:nth-child(2n+2) {
      -sgs-span-settings: ("span": 1, "location": 2, "grid": 8 4, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
      width: 32.78689%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    #top-bar > .column:nth-child(2n+3) {
      clear: both; } }

.navigation {
  position: relative; }
  @media (max-width: 780.5px) {
    .navigation {
      text-align: center; } }
  @media (max-width: 580px) {
    .navigation {
      font-size: 14px;
      font-size: 0.82353rem;
      line-height: 1.82143; } }
  #top-bar .navigation {
    letter-spacing: 0.1em;
    text-transform: uppercase; }

.navigation__separator {
  position: relative;
  top: 0.15em;
  border-left: 1px solid #777e83;
  padding-right: 1px;
  height: 1em;
  display: inline-block; }
  @media (max-width: 470px) {
    #top-bar .navigation__separator:nth-child(6) {
      height: 0;
      display: block; } }

.navigation__skip:focus {
  z-index: 2;
  position: absolute;
  left: auto;
  border: 1px solid currentColor;
  padding: 4px;
  background-color: #fff; }

.button--styleLess, .search-button {
  border: 0;
  background: none; }

.archive {
  *zoom: 1; }
  @media (min-width: 780.5px) {
    .archive > .column:nth-child(2n+1) {
      -sgs-span-settings: ("span": 1, "location": 1, "grid": 6 6, "gutter": 0.2, "style": "opposite", "start row": true, "end row": false, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
      width: 49.18033%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    .archive > .column:nth-child(2n+2) {
      -sgs-span-settings: ("span": 1, "location": 2, "grid": 6 6, "gutter": 0.2, "style": "opposite", "start row": false, "end row": true, "fixed gutter": false, "split gutter": null, "gutter property": "margin", "options": ((null: null)));
      width: 49.18033%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    .archive > .column:nth-child(2n+3) {
      clear: both; } }
  .archive:after {
    content: "";
    display: table;
    clear: both; }

.archive__title {
  display: inline; }
  @media (max-width: 780.5px) {
    .archive__title br {
      display: none; } }

.archive__description {
  text-align: right; }
  @media (max-width: 780.5px) {
    .archive__description {
      text-align: left; }
      .archive__description br {
        display: none; } }

.gsc-control-cse, .gsc-control-cse * {
  box-sizing: content-box; }
.gsc-control-cse table {
  border-collapse: separate; }
#top-bar .gsc-control-cse {
  position: relative;
  top: -4px;
  padding: 0;
  line-height: 1; }
  @media (max-width: 780.5px) {
    #top-bar .gsc-control-cse {
      top: 0; } }

#top-bar .gsc-search-box {
  margin-bottom: 0; }

.gsc-completion-container {
  color: #000; }

.datetime {
  font-style: italic;
  white-space: nowrap; }

#disqus_thread {
  margin-top: 1.5em; }

/* -- Vendor -- */
/* 7. Trumps
---------------------------------------- */
.is-hidden {
  padding: 0;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden; }

.ov-h {
  overflow: hidden; }

.nowrap {
  white-space: nowrap; }

.img-replace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

.clearfix,
.box {
  *zoom: 1; }
  .clearfix:after,
  .box:after {
    content: "";
    display: table;
    clear: both; }



/*# sourceMappingURL=main.css.map */